*,
h1 {
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: #d9fbff;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #d9fbff;
}

p {
    background-color: transparent;
}

.card {
    background-color: transparent;
    border: none;
    
    
}

#question-container,
.start-screen {
    margin-top: 50px;
    margin-bottom: 60px;
    max-width: 600px;
    text-align: center;
    font-size: 40px;
    background-color: #a25967;
    border-radius: 5px;
    box-shadow: black 8px 8px 15px;
    
}

#question {
    background-color: transparent;
    padding-top: 50px;
    margin: 0px 5px 0 5px;
}

.ghibli {
    color: #a26cba;
    font-weight: bolder;
}

.button {
    background-color: #a26cba;
    border-radius: 5px;
    border-color: #a33636;
    border-width: 5px;
    font-style: italic;
    font-size: 30px;
    padding: 10px;

}

.button:hover {
    border-color: #ca6f6f;
    border-radius: 5px;
}

.save-btn {
    background-color: #a26cba;
    font-style: italic;
    font-size: 20px;
    color: white;
    padding: 8px;

}

.save-btn:hover {
    background-color: #caa8d8;
}

.button-group {
    font-size: 0px;
    background-color: transparent;
    margin-left: 50px;
    
}

input[type="radio"]{
    transform: scale(2);
}

.input-group {
    margin: auto;
    padding: 20px;
}

#least-most {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-bottom: 0px;
    font-size: 23px;
    font-weight: bold;
    background-color: transparent;
}

#scale {
    padding: 50px 0px;
    background-color: transparent;
}

img {
    background-color: transparent;
    border-radius: 5px;
    box-shadow: black 4px 4px 7px;
}

.dog {
    margin: 40px;
    padding: 20px;
    object-fit: cover;
    overflow: hidden;
    
}

.result-container {
    height: auto;
}

.hide {
    display: none;
}

@media screen and (max-width: 39.9375em) {
    #question-container,
    .card {
        display: block;
        max-width: 100vw;
        margin-top: 10px;
    }

    #question {
        font-size: 30px;
    }

    .result-container {
        height: auto;
    }

    .button {
    border-width: 3px;
    font-size: 20px;
    padding: 5px;
    }
}