* {
    background-color: #d9fbff;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 100px;
}

h1 {
    max-width: 500px;
    text-align: center;
}

.ghibli {
    color: #a26cba;
    font-weight: bolder;
}

.button {
    background-color: #a26cba;
    border-radius: 5px;
    border-color: #a33636;
    font-style: italic;

}


